#footer {
    /* background: linear-gradient(175deg, rgba(255, 255, 255, 1) 0%, rgba(52, 58, 64, 0.80) 92%, rgba(52, 58, 64, 1) 100%); */
}

.footer-address>span, .white-link>a {
    color: whitesmoke;
    font-size: 1rem;
}

@media only screen and (max-width: 991px) {
    .footer-address>span, .white-link>a {
        color: whitesmoke;
        font-size: 1.2rem;
    }
}