.social-media-logo {
    height: 40px;
    width: 40px;
}

.footer-address>span, .white-link>a {
    color: whitesmoke;
    font-size: 1rem;
}

@media only screen and (max-width: 991px) {
    .footer-address>span, .white-link>a {
        color: whitesmoke;
        font-size: 1.2rem;
    }
}