#mobile-sidebar {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.85);
    top:0;
    left:0;
    padding: 50px 0px 0px 40px;
}

.mobile-sidebar>* {
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: white;
}