.slider-page {
  display: block;
  background-color: rgba(30, 30, 30, 0.3);
  color: whitesmoke;
  padding: 5px 20px;
  width: 10%;
  position: absolute;
  left: 45%;
  bottom: 68px;
}

.slide-image-container {
  max-width: 80%;
  min-height: 400px;
}

.slide-image {
  max-width: 100%;
  min-height: 400px;
  object-fit: contain;
}

.styled-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  color: black;
  font-size: 3rem;
}

.left.arrow {
  position: absolute;
  top: 50%;
  left: 20px;
}

.right.arrow {
  position: absolute;
  top: 50%;
  right: 20px;
}

@media only screen and (max-width: 991px) {
  .slider-page {
    width: 20%;
    left: 40%;
    bottom: 1.5rem;
  }

  .slide-image-container {
    max-width: 90%;
    min-height: 250px;
  }

  .slide-image {
    max-width: 100%;
    min-height: 250px;
    object-fit: contain;
  }

  .arrow {
    color: black;
    font-size: 1.5rem;
  }

  .left.arrow {
    position: absolute;
    top: 50%;
    left: -5px;
  }
  
  .right.arrow {
    position: absolute;
    top: 50%;
    right: -5px;
  }
}