.download-brochure {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.product-header {
  max-height: 100px;
  object-fit: contain;
}

#table-wrapper {
  position: relative;
}

#table-wrapper table {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .download-brochure {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}