#service-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(52, 58, 64, 0.85) 70%, rgba(52, 58, 64, 1) 100%);
    padding: 2rem 10vw;
}

.btn.btn-tangpark {
    background-color: #ed1b24;
    color: #d8d8d8;
    font-size: 1.8rem;
}

.btn.btn-tangpark:hover {
    background-color: #ed1b24;
    color: #c0c0c0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 991px) {
    #service-container {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(52, 58, 64, 0.85) 70%, rgba(52, 58, 64, 1) 100%);
        padding: 0px;
        padding-top: 2rem;
    }
    #service-container>div>div {
        padding: auto 15px;
    }
}