* {
    font-family: 'Kanit';
}

html {
    font-size: 16px;
}

#root {
    min-height: 100vh;
}

#wrap {
    min-height: 100vh;
}

#context {
    min-height: 100vh;
}

h4.text-light {
    margin: auto auto auto 1rem;
}

h5.text-light {
    margin: auto auto auto auto;
}

div.noPadding {
    padding-left: 0;
    padding-right: 0;
}

div.noMargin {
    margin-left: 0;
    margin-right: 0;
}

/* For Blank Content */

div.box {
    height: 800px;
    background-color: whitesmoke;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.btn.btn-tangpark {
    background-color: #ed1b24;
    color:whitesmoke;
    font-size: 1.8rem;
}

.btn.btn-tangpark:hover {
    background-color: #ed1b24;
    color: #c8c8c8;
    font-size: 1.8rem;
}

@media only screen and (min-width: 992px) {
    * {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    * {
        font-size: 14px;
    }
}